.footer{
	background: url(http://youthful-payne-737b43.netlify.com/images/footer.png);
	margin: 0;
	padding: 3%;
	background-color: #256248;
}

.akgec{
	background-color: #256248;
	color: white;
	height: 2%;
	font-size: .75em;
	padding: 0.6% 0.6%;
	margin: 0% 0%; 
}