*{
	margin: 0% 0%;
	font-family: 'Roboto',sans-serif;
	padding-top: 0%;

}
.topback{

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% ; 
    margin-bottom: 0;  
}
.navbar{
	top: 0;
	margin:  0% 75% ;
	position: fixed;
	display: flex;
	z-index: 1;

}

.csi
{
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-left: 1%;
  padding-right: 75%;
  
}

.csi:hover{
	color: #000000;
}

.header{
margin-top: 4.5%;
}
.top{
	background: #8D9194;
	opacity: 0.9;
}
.main{
	opacity: 0.9;
	margin-left: 42.7%;
	margin-top: 6.3% ;
}

.vanz{

	font-size: 0.5em;
	margin: 2% 27%;
}

.log{
	width: 24%;
	height: 24%;
}

.btns {
  border-radius: 28px;
  background: none;
  opacity: 1;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 12px 12px 120px 0px;
}

.btns{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btns:after {
  content: '\2192';
  position: absolute;
  opacity: 0;  
  top: 9px;
  right: -20px;
  transition: 0.5s;
}

.btns:hover{
  padding-right: 24px;
  padding-left:8px;
  background: #00695c;
  opacity: 0.75;
}

.btns:hover:after {
  opacity: 1;
  right: 10px;
}


.round
{
	margin: 3% 9%;
	height: 12%;
	border: 1px  ;
	background: #fff;
	padding: 0% 0%;
	height: 10%;
	width: 80%;
	box-shadow: 6px  7px 5px 5px #DEDFDE;

}

.blocks{
	background: #eeeeee;
	margin-bottom: 0;
	padding-bottom: 3%;
	padding-top: 0%;
}
.image{
	height: 31.5%;
	width: 31.2%;
}
 .log{
   transition: transform;
	transition: 4s;
 }
 
 .bye{
 	transition: transform 0.6s;
 }

.main img:hover{

    transform: scale(1.15) rotate(720deg) ;
    transition-duration: 0.7s; 
}

.rightext{
	float: left;
	width: 67%;
	height: 67%;
	margin-bottom: 0%;
	/*padding-bottom: 0%;*/
	font-weight: 350;
	font-size: 1.15em;
	color: #A4A7AA;
	line-height: 2em;
	padding: 2% 1%;
}
.bold{
 color: #878A8C;
 font-weight: 400;
}
.roundhead{
	font-size: 1.2em;
	font-weight: 550;
	color: #454647;
	padding: 0;

}

.rightimg{

    padding-left: 1%;
    padding-right: 0%;
    margin:0% 0%;
}

.rmg1{
	background-image: url(vintage.jpg);
	background-repeat: no-repeat;
}

.hel{
   clip-path: polygon(56% 0, 100% 0, 100% 100%, 8% 100%);
;

}
.bel{
   clip-path: polygon(56% 0, 100% 0, 100% 100%, 8% 100%);

}

.leftimg{
	display:inline;
    float: left;
    width: 26.85%;
    height: 33.85%;
    padding-right: 2%;
    clip-path: polygon(0 0, 45.5% 0, 92% 100%, 0% 100%);
}

.leftext{
	margin-bottom: 0%;
	padding: 2% 1%;
	font-weight: 350;
	font-size: 1.15em;
	color: #A4A7AA;
	line-height: 2em;
}

.footer{
	background-image: linear-gradient( rgba(0,150,49,0.5),rgba(0,150,49,0.5)), url(footer.png);
	margin: 0;
	padding: 3%;
	background-color: #00695c;
	animation: scaler 18s infinite linear alternate ; 
	overflow: hidden;
	width: 100%;
	height: 6%;
}

@keyframes scaler{
	0%{transform: scale(1.0);}
	100%{transform: scale(1.4);}
}

.overflow{
	overflow: hidden;
}

#contact{
	border-bottom: 1px dotted white;
	margin-left: 44%;
	margin-right: 47%;
}

.rule{
	padding: 1.45% 2.5%;
	border-radius: 15px;
	border: 1px solid #256248;
	color: #256248;
	background: white;
	font-size: .8em;
	margin-top: 2%;
	margin-bottom: 1%;
	width: 12%;
	height: 8%;
	font-weight: 500;
	text-decoration: none;
}

.rule:hover {
	background: #256248;
	color: white;
    padding: 1.5em 2.2em ;
    text-align: center;
    margin-bottom: 0.2%;
}
.akgec{
	background-color: #00695c;
	color: white;
	height: 2%;
	font-size: .75em;
	padding: 0.6% 0.6%;
	margin: 0% 0%; 
}

.iconic{
	
	margin: 0 2%;
	padding: 0% 0.3%;
	line-height: 10%;
	color: white;
	font-size: 2em;
	/*border-bottom:  1px dotted white;*/
}
.iconic:hover {
	transform: rotate(18deg);
}


.under{
	text-decoration: none;
	color: #256248;
}

.under:hover{
	color: white;
}

.dropcontent{
margin-right: 0;
margin-left: 80%;
margin-bottom: 0;
}
.dropbtn{
	text-decoration: none;
	border-radius: 5px; 
	outline: 0 0 ;
	opacity: 0.1;
	padding: 8px 12px;
	margin: 10px 13px;
	background: #34383B;
	font-size: 1.12em;
	outline: none;
	opacity: 0.9;
    color: white;
    float: right;
    z-index: 1;
 }

 .dropbtn:hover{
 	background: #000000;
 }

 .lin{
 	text-decoration: none;
 	color: white;
 }
 .line {
 		width: 70%;
	color: #A4A7AA;
	/*margin-bottom: 2%;*/}

/*.rightimg4{
	background-image: url(vintage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    clip-path: polygon(56% 0, 100% 0, 100% 100%, 8% 100%);
	height: 400px;
	width: 400px;
	margin-left: 67%;
}
*/

